/* google.fonts Para ver tipografias  
    box-shadow = https://developer.mozilla.org/es/docs/Web/CSS/box-shadow

*/
.container{
    margin: 0 auto;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    width: 90%;
    margin: auto 20px;
}
.text-center{
    text-align: center;
    flex-wrap: wrap;
}
.flex{
    display: flex;
}
.columna{
    background: rgb(228,228,288);
    color: #333;
    border: 1px solid #333;
    margin: 0 auto;
    padding: 10px;  
    /* Borde redondeado de los margenes ,mientras mas grande el numero mas se nota la pronunciacion */
    border-radius: 5px;
    /* Primer valor en positivo,sombra a la derecha ,segundo valor en positivo,sombra abajo y contrariamente en negativo. 
    El tercer valor es el degradado*/
    box-shadow: 10px 10px 5px rgb(138, 111, 111);
    width: 24%;
    /* agrega el padding y el borde al calculo del porcentaje indicado para la columna */
    box-sizing: border-box;
}
.precio{
    font-size: 50px;
    color: aqua;
}
.btn-precio{
    display: block;
    background: salmon;
    padding: 10px;
    border-radius: 10px;
    color: white;
    text-decoration: none;
}
.btn-precio:hover{
    background: red;
}
@media (max-width: 1070px){
    .columna{
        width: 45%;
        margin-bottom: 10px;
    }
}
@media (max-width: 600px){
    .columna{
        width: 100%;
        margin-bottom: 10px;
    }
}
